<!DOCTYPE html>
<html>
	<head>
		<title>Fritter - Profile</title>
		<!--Credit to Twitter Bootstrap and Font Awesome-->
		<%- include ../header.ejs %>
	</head>
	<body>
		<nav class="navbar-wrapper navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-collapse collapse">
					<a class="navbar-brand" href="#">Fritter</a>
					<ul class="nav navbar-nav navbar-left">
						<li <% if(session.name === user.name){ %>class="active" <%}%>><a href="/users/<%= session.name %>"><span class="glyphicon glyphicon-home"></span> Profile</a></li>
						<li><a href="/users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
						<li><a href="/newsfeed"><span class="glyphicon glyphicon-list-alt"></span> News Feed</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					</ul>
				</div>
			</div>
	    </nav>
		<div class="container">
			<div class="page-header text-center">
				<h1><%= user.name %></h1>
				<% if(session.name === user.name){ %>
					<div class="row text-center">
			            <a href="/users/<%= session.name %>" class="btn btn-default btn-sm active">Freets: <%= session.freets.length %></a>
			            <a href="/users/<%= session.name %>/following" class="btn btn-default btn-sm">Following: <%= session.following.length %></a>
			        </div>
					<hr>
					<form name="input" action="newfreet" method="post">
						<h3>Post a Freet</h1>
						<div class="form-group">
							<textarea name="user_post" rows="4" cols="50" maxlength="140"></textarea>
							<input type="hidden" name="user" value="<%= user.name %>">
						</div>

			        	<button type="submit" value="Submit" class="btn btn-info btn-sm">Post</button>
			        </form>
			    <%}%>
			    <% if (session.name !== user.name) { %>
			    	<% if (!following) { %>
						<form name="input" action="follow" method="post">
							<input type="hidden" name="follow" value="<%= user.name %>">
				        	<button type="submit" value="Follow" class="follow btn btn-info btn-sm fixedSize">Follow</button>
				        </form>
				    <%}%>
				    <% if (following) { %>
						<form name="input" action="unfollow" method="post">
							<input type="hidden" name="unfollow" value="<%= user.name %>">
				        	<button type="submit" value="Unollow" class="unfollow btn btn-success btn-sm fixedSize">Following</button>
				        </form>
				    <%}%>
			    <%}%>
			</div>
			<div class="row">
				<!--<p><%= user %></p>-->
				<% if (freets.length === 0) {%>
					<div class="row text-center">
						<h3>No freets exist for this user.</h3>
					</div>

				<%}%>
				<% for(var i = freets.length-1; i > -1; i--){ %>
					<!--<p><%= freets[i] %></p>-->
					<div class="col-sm-6 col-sm-offset-3">
						<div id='scroll<%= i%>' class="well">
							<div class="date" style="float:right;padding-top:12px;">
								<p><span data-livestamp="<%= freets[i].updatedAt %>"></span></p>
							</div>
							<a href="/users/<%=freets[i]._creatorID%>"><h4><span class="fa fa-user"></span> <%=freets[i]._creatorID%></h4></a>
							<p><%= freets[i].content %></p>
							<% if(session.name === freets[i]._creatorID && session.name === user.name){ %>
								<form name="input" action="edit" method="post">
									<div class="form-group">
										<input type="hidden" name="freet" value="<%= freets[i]._id%>">
										<input type="hidden" name="i" value="<%= i%>"</input>
									</div>
									<div id="<%= i%>" class="form-group" style="display:none;">
										<textarea name="user_post_edit" rows="4" cols="50" maxlength="140"><%= freets[i].content%></textarea>
										<button type="submit" value="Submit" class="btn btn-default btn-sm">Make Change</button>
									</div>

						        	<a href="#scroll<%= i%>" onclick="toggle('<%= i%>')" class="btn btn-default btn-sm" style="float:left;">Edit</a>
						        </form>
								<form name="input" action="delete" method="post">
									<div class="form-group">
										<input type="hidden" name="freet" value="<%= freets[i]._id%>">
									</div>

						        	<button type="submit" value="Submit" class="btn btn-default btn-sm">Delete</button>
						        	<p style="float:right;"><span class="glyphicon glyphicon-retweet"></span>  <%=freets[i].retweetsID.length%></p>
						        </form>
					        <%}%>
					        <% if(session.name !== freets[i]._creatorID){ %>
					        	<% if (freets[i].retweetsID.indexOf(session.name) < 0) { %>
						        	<form name="input" action="retweet" method="post">
										<div class="form-group">
											<input type="hidden" name="home" value="<%= user.name %>">
											<input type="hidden" name="freet" value="<%= freets[i]._id%>">
										</div>

							        	<button type="submit" value="Submit" class="btn btn-default btn-sm">Retweet</button>
							        	<p style="float:right;"><span class="glyphicon glyphicon-retweet"></span>  <%=freets[i].retweetsID.length%></p>
							        </form>
							    <%}%>
						        <% if (freets[i].retweetsID.indexOf(session.name) > -1) { %>
							        <form name="input" action="untweet" method="post">
										<div class="form-group">
											<input type="hidden" name="home" value="<%= user.name %>">
											<input type="hidden" name="freet" value="<%= freets[i]._id%>">
										</div>

							        	<button type="submit" value="Submit" class="btn btn-default btn-sm">Untweet</button>
							        	<p style="float:right;"><span class="glyphicon glyphicon-retweet gold"></span>  <%=freets[i].retweetsID.length%></p>
							        </form>
						        <%}%>
					        <%}%>
						</div>
					</div>
				<%}%>

			</div>

		</div>
	</body>
</html>